.page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;

}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.error {
  color: crimson;

}

.movies {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
}

.movie {
  text-align: center;
  background-color: black;
  padding: 15px;
}

.movie img {
  border-radius: 10px;
  height: 350px;
}

.movie h5,
.movie p {
  font-weight: bolder;
  margin: 0;
}