.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.meIcon {
  width: 80px;
  height: 80px;
  transition: transform .2s;

}

.meIcon:hover {
  transform: scale(1.5);
  cursor: pointer;
}

/* @media only screen and (max-width: 600px) {
  header h3 {
    font-size: 24px;
  }
} */

main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.error {
  color: crimson;
  text-align: center;
  font-size: 14px;
}

.pageButton {
  display: flex;
  justify-content: right;
  width: 100%;
  padding-right: 10px;
}

.movies {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;
}


.movie {
  text-align: center;
  background-color: black;
  border-radius: 10px;
  padding: 15px;
}

.movie img {
  border-radius: 3px;
  height: 300px;
}

.movie h5,
.movie p {
  font-weight: bolder;
  margin: 0;
}